<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charSet="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>URLcheck - Phishing URL</title>
        <link rel="icon" href="static/Logo.png" type="png" > 
        <link rel="preload" href="static/4b6c96726ea495ed.css" as="style"/>
        <link rel="stylesheet" href="static/4b6c96726ea495ed.css" data-n-g=""/>
        <link rel="preload" href="static/31441d3c9a9e24f2.css" as="style"/>
        <link rel="stylesheet" href="static/31441d3c9a9e24f2.css" data-n-p=""/>
        <noscript data-n-css=""></noscript>
        
    </head>
    <body>
        <div id="__next">
            <div>
                
                <nav class="border-gray-200 px-2 mb-2 sm:px-4 py-2.5 bg-[#fd0054]">
                    <div class="container flex justify-between items-center mx-auto">
                        <a class="flex items-center" href="/">
                            <img src="static/URLcheck logo.png" width="50">
                            <span class="self-center text-base custom:text-[14px] text-white">URLcheck</span>
                        </a>
                    </div>
                    <div class="burger-menu fixed top-0 w-full h-[100vh] z-10 flex transition-all duration-300 left-[-100%]">
                        <div class="languages w-[65%] bg-white overflow-y-scroll">
                            <a class="block text-decoration-none d-flex p-2 font-weight-semi border-bottom align-items-center border-b-[1px] border-solid border-[#dee2e6] text-[#007bff]" href="/">
                                <div class="flex m-2">
                                    <small class="text-[#fd0054]">URLcheck</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </nav>
                <div style="text-align:center" >
                    <img src="static/Warning.png" width="200px">
                </div>
                <div class="text-center my-2 py-2 text-[#343a40]">
                    <h1 class="font-medium sm:text-[40px] text-2xl w-[20rem] sm:w-full sm:mb-2 m-auto">Phishing Website</h1>
                    <p class=" mb-4 mx-[15px]">The URL you have given leads to a Fake website. Beware!!</p>

                    <div class="custom:w-5/6 w-[350px] sm:w-[650px] lg:w-[778px] sm:my-[28px] mx-auto sm:flex sm:justify-center md-w[960px]">
				<div class="text text-left p-[20px] text-[#212529]">
                <form action='/home'>
				<button class=" text-white w-[100%] h-[50px] sm:w-[152px] sm:h-[52px] font-[600] bg-[#fd0054] hover:bg-[#dc2260] focus:outline-none rounded-lg text-center text-[17px] shadow-2xl"> Home</button>
				</form>
                </div>
    
                
                
            </div>
            
        </div>
    </body>
</html>
